@font-face {
    font-family: 'Nintendo';  /* Nom que tu veux donner à la police */
    src: url('assets/fonts/Nintendo-DS-BIOS.ttf') format('truetype');  /* Chemin vers le fichier de police */
    font-weight: normal; /* Poids de la police */
    font-style: normal;  /* Style de la police (normal, italique, etc.) */
}

body {
    font-family: 'Nintendo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
}

header {
    font-size: 24px;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 70%; /* Largeur par défaut pour les écrans plus grands */
    margin: 0 auto;
}

.demo-video {
    width: 100%; /* La vidéo prend 100% de la largeur de son conteneur .demo */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement pour garder le ratio */
    aspect-ratio: 16 / 9; /* Garde le ratio 16:9 pour la vidéo */
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 60%; /* Largeur de la galerie pour les grands écrans */
}

.gallery-item {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: auto;
    height: 150px;
    max-width: 100%;
}

.gallery-item .text {
    width: 50%;
    text-align: left;
}

.article-container {
    display: none;
    width: 80%;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.article-container[style*="display: block"] {
    opacity: 1;
}

.article-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.article-content {
    padding: 20px;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.back-button {
    margin: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
